.app {
    background-color: white;
    height: 100vh;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stage {
    border: 1px solid #ccc;
}

.timeline-container {
    height: 100%;
    width: 100%;
}