name: CI/CD pipeline
on: 
  push: 
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs: 
  pipeline: 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 23.x ]
    
    steps: 
    - uses: actions/checkout@v4
    - name: Staring Node.js ${{ matrix.node-version }}
      if: always()
      uses: actions/setup-node@v1
      with:
          node-version: ${{ matrix.node-version }}
    - name: install modules
      run: npm install
    - name: build project
      if: always()
      run: npm run build
    - name: linting
      if: always()
      run: npm run lint
    - name: Deploy
    uses: peaceiris/actions-gh-pages@v4
    with:
      github_token: ${{ secrets.GITHUB_TOKEN }}
      publish_dir: ./dist
    